<div class="newPage">
        
  <h1>Sport</h1>
  <div class="newPage-form">
    <h2>regim</h2>
    <form>
      <div class="newPage-form-field">
        <label>Имя</label>
        <input type="text" placeholder="Имя или Ник" required name="login"><br>
        <label>Фамилия</label>
        <input type="text" placeholder="Инциалы" required name="login"><br>
        <label>Вес</label>
        <input type="number" placeholder="Кг" required name="login"><br>
        <label>Рост</label>
        <input type="number" placeholder="См" required name="login"><br>
        <label></label>
        <textarea name="text" id="" cols="30" rows="5"></textarea><br>
        <button >Войти</button>
      </div>
    </form>
  </div>

  <div class="newPage-image">
    <img src="/assets/img/61LKamHjMrL.png" alt=""/>
  </div>

</div>

