<div class="registration">
    <h1>Registration</h1>

    <div class="registration-form">
        
        <h2>Реристриция</h2>
        <form>
            <div class="registration-form-field">
        
                <label>Логин</label>
                <input type="text" placeholder="Имя или Ник" required name="login">
            </div>
            <div class="registration-form-field">
                <label>Пароль</label>
                <input type="password" placeholder="Пароль" required name="password">
        
            </div>
        
            <div class="registration-form-field">
                <label>Номер телефона</label>
                <input type="number" placeholder="Номер" required name="">
        
                
        
            </div>

            <div>
                <div class="registration-form-field">
                    <label>Email</label>
                    <input type="number,text" placeholder="Маил" required name="Имя Фамилия">
            
                
                </div>
            </div>
   
    
    
            <button>Войти</button>
        </form>
    </div>
    <div>
        <img src="/assets/img/bird1.png" alt="">
    </div>
    
</div>
